
.margins{
    height: 100%;
}

.taking{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100%;
}

#canvas{
    display: none;
    transform: rotateY(3.142rad);
}

video{
    transform: rotateY(3.142rad);
}

.buttons{
    border: none;
    font-size: 20px;
    font-weight: 100;
}

.square{
    height: 100px;
    width: 100px;
}

.square{
    display: none;
}

#click-photo2 {
    display: none;
}

