#race{
    width: auto;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profile-info {
    display: flex;
    gap: 50px;
}

.profile-text{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-pic{
    border-radius: 100%;
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


@media only screen and (max-width: 420px) {

    .profile{
        align-items: start;
    }

    #profile-info{
        gap: 20px
    }

    .profile-pic{
        width: 100px;
        height: 100px;
    }

    #lel{
        scale: .7;
    }

    #description{
        font-size: 20px;
    }

    #race{
        text-align: start;
    }
}